In [8]:
import numpy as np
import pandas as pd

In [9]:
title_basics_data = pd.read_csv("title_basics_data.tsv", delimiter='\t', low_memory= False)
title_basics_data.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [10]:
title_ratings_data = pd.read_csv("title_ratings_data.tsv", delimiter = "\t")
title_ratings_data.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.6      1668
1  tt0000002            6.1       207
2  tt0000003            6.5      1389
3  tt0000004            6.2       123
4  tt0000005            6.2      2177

In [11]:
rating_data1 = title_ratings_data[title_ratings_data['averageRating'] > 8.0]
rating_data1.head(20)

        tconst  averageRating  numVotes
273  tt0000361            8.1        10
298  tt0000417            8.2     43703
338  tt0000505            8.1        11
606  tt0000961            8.2        13
686  tt0001089            8.3        19

In [14]:
final_ratings_data = rating_data1.sort_values('numVotes', ascending = False)
final_ratings_data.head(20)

           tconst  averageRating  numVotes
81761   tt0111161            9.3   2320892
245919  tt0468569            9.0   2282922
580075  tt1375666            8.8   2046291
98025   tt0137523            8.8   1838412
81545   tt0110912            8.9   1810499
80672   tt0109830            8.8   1790028
423327  tt0944947            9.3   1742075
95948   tt0133093            8.7   1660895
89531   tt0120737            8.8   1645568
112822  tt0167260            8.9   1629102
45687   tt0068646            9.2   1602894
572988  tt1345836            8.4   1504313
387337  tt0816692            8.6   1491198
112823  tt0167261            8.7   1472768
413477  tt0903747            9.5   1433953
84313   tt0114369            8.6   1430537
664525  tt1853728            8.4   1343772
115241  tt0172495            8.5   1330015
206250  tt0372784            8.2   1298154
74980   tt0102926            8.6   1258769

In [15]:
merged_data = pd.merge(final_ratings_data, title_basics_data, on= 'tconst')
merged_data.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2320892,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2282922,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2046291,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1838412,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1810499,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1790028,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
6,tt0944947,9.3,1742075,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama"
7,tt0133093,8.7,1660895,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1645568,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1629102,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"

In [16]:
merged_data = merged_data[merged_data['titleType'] == 'movie']
merged_data.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2320892,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2282922,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2046291,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1838412,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1810499,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1790028,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
7,tt0133093,8.7,1660895,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1645568,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1629102,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
10,tt0068646,9.2,1602894,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"

In [17]:
merged_data['originalTitle'].head(20)

0                              The Shawshank Redemption
1                                       The Dark Knight
2                                             Inception
3                                            Fight Club
4                                          Pulp Fiction
5                                          Forrest Gump
7                                            The Matrix
8     The Lord of the Rings: The Fellowship of the Ring
9         The Lord of the Rings: The Return of the King
10                                        The Godfather
11                                The Dark Knight Rises
12                                         Interstellar
13                The Lord of the Rings: The Two Towers
15                                                Se7en
16                                     Django Unchained
17                                            Gladiator
18                                        Batman Begins
19                             The Silence of the Lambs
20                                 Inglourious Basterds
21                                  Saving Private Ryan
Name: originalTitle, dtype: object

In [19]:
title_basics_data.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [21]:
title_basics_data['startYear'] = pd.to_numeric(title_basics_data['startYear'], errors='coerce')
title_basics_data.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [22]:
year = title_basics_data[(title_basics_data['startYear'] >= 2000) & (title_basics_data['titleType'] == 'movie')]
year.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
15184,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N
16662,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical"
19706,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,\N
34811,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance"
61132,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0,2020.0,\N,70,Drama
63462,tt0064730,movie,Japan Organized Crime Boss,Nihon boryoku-dan: Kumicho,0,2000.0,\N,97,"Action,Crime"
64107,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0,2020.0,\N,\N,Documentary
67686,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama
85714,tt0087608,movie,Leila wa al ziap,Leila wa al ziap,0,2008.0,\N,90,Documentary
86825,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,\N,100,"Comedy,Horror,Sci-Fi"

In [23]:
updated_merged_data = pd.merge(year, title_ratings_data, on= 'tconst')
updated_merged_data.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N,5.4,11
1,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical",5.6,15
2,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,\N,6.3,52
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78627
4,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0,2020.0,\N,70,Drama,6.4,122
5,tt0064730,movie,Japan Organized Crime Boss,Nihon boryoku-dan: Kumicho,0,2000.0,\N,97,"Action,Crime",7.0,172
6,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0,2020.0,\N,\N,Documentary,6.3,7
7,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama,6.8,6164
8,tt0087608,movie,Leila wa al ziap,Leila wa al ziap,0,2008.0,\N,90,Documentary,7.7,13
9,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,\N,100,"Comedy,Horror,Sci-Fi",5.4,273

In [24]:
votes_data = updated_merged_data[updated_merged_data['numVotes'] > 40000]
votes_data.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78627
39,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000.0,\N,98,"Drama,Romance",8.1,122684
66,tt0120630,movie,Chicken Run,Chicken Run,0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,176088
67,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,310327
69,tt0120679,movie,Frida,Frida,0,2002.0,\N,123,"Biography,Drama,Romance",7.4,80886
70,tt0120681,movie,From Hell,From Hell,0,2001.0,\N,122,"Horror,Mystery,Thriller",6.8,146173
73,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1645568
75,tt0120755,movie,Mission: Impossible II,Mission: Impossible II,0,2000.0,\N,123,"Action,Adventure,Thriller",6.1,312784
76,tt0120804,movie,Resident Evil,Resident Evil,0,2002.0,\N,100,"Action,Horror,Sci-Fi",6.7,246321
80,tt0120903,movie,X-Men,X-Men,0,2000.0,\N,104,"Action,Adventure,Sci-Fi",7.4,567805

In [25]:
final_data = votes_data.sort_values('averageRating', ascending = False)
final_data.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
78459,tt2592910,movie,CM101MMXI Fundamentals,CM101MMXI Fundamentals,0,2013.0,\N,139,"Comedy,Documentary",9.2,43774
20012,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,\N,152,"Action,Crime,Drama",9.0,2282922
366,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1629102
111522,tt5813916,movie,The Mountain II,Dag II,0,2016.0,\N,135,"Action,Drama,War",8.8,104661
47374,tt1375666,movie,Inception,Inception,0,2010.0,\N,148,"Action,Adventure,Sci-Fi",8.8,2046291
73,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1645568
30103,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0,2020.0,\N,153,Drama,8.7,51064
367,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002.0,\N,179,"Action,Adventure,Drama",8.7,1472768
129707,tt8503618,movie,Hamilton,Hamilton,0,2020.0,\N,160,"Biography,Drama,History",8.6,49950
24723,tt0816692,movie,Interstellar,Interstellar,0,2014.0,\N,169,"Adventure,Drama,Sci-Fi",8.6,1491198
2348,tt0245429,movie,Spirited Away,Sen to Chihiro no kamikakushi,0,2001.0,\N,125,"Adventure,Animation,Family",8.6,642880
119220,tt6751668,movie,Parasite,Gisaengchung,0,2019.0,\N,132,"Comedy,Drama,Thriller",8.6,523791
7553,tt0317248,movie,City of God,Cidade de Deus,0,2002.0,\N,130,"Crime,Drama",8.6,694838
56599,tt1675434,movie,The Intouchables,Intouchables,0,2011.0,\N,112,"Biography,Comedy,Drama",8.5,750976
21429,tt0482571,movie,The Prestige,The Prestige,0,2006.0,\N,130,"Drama,Mystery,Sci-Fi",8.5,1178601
48749,tt1424432,movie,Senna,Senna,0,2010.0,\N,106,"Biography,Documentary,Sport",8.5,63690
122697,tt7286456,movie,Joker,Joker,0,2019.0,\N,122,"Crime,Drama,Thriller",8.5,912928
14631,tt0407887,movie,The Departed,The Departed,0,2006.0,\N,151,"Crime,Drama,Thriller",8.5,1179166
418,tt0172495,movie,Gladiator,Gladiator,0,2000.0,\N,155,"Action,Adventure,Drama",8.5,1330015
78342,tt2582802,movie,Whiplash,Whiplash,0,2014.0,\N,106,"Drama,Music",8.5,708169

In [26]:
final_data['originalTitle'].head(20)

78459                                CM101MMXI Fundamentals
20012                                       The Dark Knight
366           The Lord of the Rings: The Return of the King
111522                                               Dag II
47374                                             Inception
73        The Lord of the Rings: The Fellowship of the Ring
30103                                       Soorarai Pottru
367                   The Lord of the Rings: The Two Towers
129707                                             Hamilton
24723                                          Interstellar
2348                          Sen to Chihiro no kamikakushi
119220                                         Gisaengchung
7553                                         Cidade de Deus
56599                                          Intouchables
21429                                          The Prestige
48749                                                 Senna
122697                                                Joker
14631                                          The Departed
418                                               Gladiator
78342                                              Whiplash
Name: originalTitle, dtype: object